body {
    font-family: 'Museo Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFF4E4;
    color: #333;
}

header {
    background-color: #B3B995;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Simplifica', sans-serif;
    font-size: 1.8em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

section h1, section h2 {
    font-family: 'Simplifica', sans-serif;
    color: #333;
}

footer {
    background-color: #A9B388;
    color: #333;
    text-align: center;
    padding: 10px;
}